.row{
  margin-top: 30px;
}
.common {
  color: #0faf03;
}
.rare {
  color: #198eff;
}
.epic {
  color: #ab48ee;
}
.legendary {
  color: #f07000;
}

.inlineh4 {
  display: inline;
}
